<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/containers.css">
<title>Home</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">Wine Time</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
              </div>
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('home') }}">Shelf</a>
                  <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                  <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                  <a class="nav-item nav-link" href="{{ url_for('brewery') }}">Brewery</a>
                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                  <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
<section class="red-row">
  <ul>
    {% for wine in wines if wine.type == 'Red' %}
    <div class="pinot_noir-container">
        <img class="pinot_noir" src="../static/images/black_bottle.png" alt="">
        <img class="pinot-i" src="../static/images/{{wine.name.lower()}}-i.png" alt="">
        <form action="{{ url_for('add_to_shelf', wine_id=wine.wine_id) }}" method="get">
          <input type="hidden" name="wine_id" value="{{ wine.id }}">
          <button type="submit" class="pinot-button">Add</button>
        </form>
    </div>
    {% endfor %}
</ul>
<section class="white-row">
  <ul>
    {% for wine in wines if wine.type == 'White' %}
    <div class="chardonnay-container">
        <img class="chardonnay" src="../static/images\white-glass.png.png" alt="">
        <img class="chardonnay-i" src="../static/images/{{wine.name.lower()}}-i.png" alt="">
        <form action="{{ url_for('add_to_shelf', wine_id=wine.wine_id) }}" method="get">
          <input type="hidden" name="wine_id" value="{{ wine.id }}">
          <button type="submit" class="chardonnay-button">Add</button>
        </form>
    </div>
    </div>
    {% endfor %}
</ul>
</section>
<section class="lager-row">
  <ul>
    {% for wine in wines if wine.type == 'Lager' %}
    <div class="pilsner-container">
        <img class="pilsner" src="../static/images\beer.png.png" alt="">
        <img class="pilsner-i" src="../static/images\{{wine.name.lower()}}-i.png" alt="">
        <form action="{{ url_for('add_to_shelf', wine_id=wine.wine_id) }}" method="get">
          <input type="hidden" name="wine_id" value="{{ wine.id }}">
          <button type="submit" class="pilsner-button">Add</button>
        </form>
    </div>
    {% endfor %}
</ul>
</section>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>