<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/brewery.css">
<title>Home</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">Wine Time</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
              </div>
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                  <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                  <a class="nav-item nav-link" href="{{ url_for('brewery') }}">Brewery</a>
                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                  <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
<div class="main"></div>
<section class="reds-container">
    <img class="pinot_noir" src="../static/images/black_bottle.png" alt="">
    <button class="pinot-button">Add</button>
    <img class="cabernet-sauvignon" src="../static/images/black_bottle.png" alt="">
    <button class="cabernet-button">Add</button>
    <img class="bobal" src="../static/images/black_bottle.png" alt="">
    <button class="bobal-button">Add</button>
    <img class="malbec" src="../static/images/black_bottle.png" alt="">
    <button class="malbec-button">Add</button>
    <img class="merlot" src="../static/images/black_bottle.png" alt="">
    <button class="merlot-button">Add</button>
    <img class="isabella" src="../static/images/black_bottle.png" alt="">
    <button class="isabella-button">Add</button>
    <img class="cinsaut" src="../static/images/black_bottle.png" alt="">
    <button class="cinsaut-button">Add</button>
</section>
<section class="whites-container">
    <img class="chardonnay" src="../static/images\white-glass.png.png" alt="">
    <button class="chardonnay-button">Add</button>
    <img class="sauvignon-blanc" src="../static/images\white-glass.png.png" alt="">
    <button class="sauvignon-button">Add</button>
    <img class="riesling" src="../static/images\white-glass.png.png" alt="">
    <button class="riesling-button">Add</button>
    <img class="muscat" src="../static/images\white-glass.png.png" alt="">
    <button class="muscat-button">Add</button>
</section>
<section class="lager-container">
    <img class="pilsner" src="../static/images\beer.png.png" alt="">
    <button class="pilsner-button">Add</button>
    <img class="bock" src="../static/images\beer.png.png" alt="">
    <button class="bock-button">Add</button>
    <img class="marzen" src="../static/images\beer.png.png" alt="">
    <button class="marzen-button">Add</button>
    <img class="schwarzbier" src="../static/images\beer.png.png" alt="">
    <button class="schwarzbier-button">Add</button>
    <img class="helles" src="../static/images\beer.png.png" alt="">
    <button class="helles-button">Add</button>
</section>
<section class="reds-content">
    <img class="pinot-i" src="../static/images\pinot-i.png" alt="">
    <img class="cabernet-i" src="../static/images\carbernet-i.png" alt="">
    <img class="bobal-i" src="../static/images\bobal-i.png" alt="">
    <img class="malbec-i" src="../static/images\malbec-i.png" alt="">
    <img class="merlot-i" src="../static/images\merlot-i.png" alt="">
    <img class="isabella-i" src="../static/images\isabella-i.png" alt="">
    <img class="cinsaut-i" src="../static/images\cinsaut-i.png" alt="">
</section>
<section class="whites-content">
    <img class="chardonnay-i" src="../static/images\chardonnay-i.png" alt="">
    <img class="sauvignon-i" src="../static/images\sauvignon-i.png" alt="">
    <img class="riesling-i" src="../static/images\riesling-i.png" alt="">
    <img class="muscat-i" src="../static/images\muscat-i.png" alt="">
</section>
<section class="lager-content">
    <img class="pilsner-i" src="../static/images\pilsner-i.png" alt="">
    <img class="bock-i" src="../static/images\bock-i.png" alt="">
    <img class="marzen-i" src="../static/images\marzen-i.png" alt="">
    <img class="schwarzbier-i" src="../static/images\schwarzbier-i.png" alt="">
    <img class="helles-i" src="../static/images\helles.png" alt="">
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>