<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/css/containers.css">

<head>
    <title>All Wines</title>
</head>
<body>
    <h2>Red Wines</h2>
    <ul>
        {% for wine in wines if wine.type == 'Red' %}
            <li>{{ wine.name }} - {{ wine.type }} - {{ wine.region }}</li>
        {% endfor %}
    </ul>
    
    <h2>White Wines</h2>
    <ul>
        {% for wine in wines if wine.type == 'White' %}
            <li>{{ wine.name }} - {{ wine.type }} - {{ wine.region }}</li>
        {% endfor %}
    </ul>
    
    <h2>Lager</h2>
    <ul>
        {% for wine in wines if wine.type == 'Lager' %}
            <li>{{ wine.name }} - {{ wine.type }} - {{ wine.region }}</li>
        {% endfor %}
    </ul>
</body>

<section class="reds-container">
    <div class="pinot_noir-container">
        <img class="pinot_noir" src="../static/images/black_bottle.png" alt="">
        <img class="pinot-i" src="../static/images/pinot-i.png" alt="">
    </div>
    <div class="cabernet-container">
        <img class="cabernet-sauvignon" src="../static/images/black_bottle.png" alt="">
        <img class="cabernet-i" src="../static/images\carbernet-i.png" alt="">
    </div>
    <div class="bobal-container">
        <img class="bobal" src="../static/images/black_bottle.png" alt="">
        <img class="bobal-i" src="../static/images\bobal-i.png" alt="">
    </div>
    <div class="malbec-container">
        <img class="malbec" src="../static/images/black_bottle.png" alt="">
        <img class="malbec-i" src="../static/images\malbec-i.png" alt="">
    </div>
    <div class="merlot">
        <img class="merlot" src="../static/images/black_bottle.png" alt="">
        <img class="merlot-i" src="../static/images\merlot-i.png" alt="">
    </div>
    <div class="isabella-container">
        <img class="isabella" src="../static/images/black_bottle.png" alt="">
        <img class="isabella-i" src="../static/images\isabella-i.png" alt="">
    </div>
    <div class="cinsaut">
        <img class="cinsaut" src="../static/images/black_bottle.png" alt="">
        <img class="cinsaut-i" src="../static/images\cinsaut-i.png" alt="">
    </div>
</section>
<section class="whites-container">
    <div class="chardonnay-container">
        <img class="chardonnay" src="../static/images\white-glass.png.png" alt="">
        <img class="chardonnay-i" src="../static/images\chardonnay-i.png" alt="">
    </div>
    <div class="sauvignon-container">
        <img class="sauvignon-blanc" src="../static/images\white-glass.png.png" alt="">
        <img class="sauvignon-i" src="../static/images\sauvignon-i.png" alt="">
    </div>
    <div class="riesling-container">
        <img class="riesling" src="../static/images\white-glass.png.png" alt="">
        <img class="riesling-i" src="../static/images\riesling-i.png" alt="">
    </div>
    <div class="muscat-container">
        <img class="muscat" src="../static/images\white-glass.png.png" alt="">
        <img class="muscat-i" src="../static/images\muscat-i.png" alt="">
    </div>
</section>
<section class="lager-container">
    <div class="pilsner-container">
        <img class="pilsner" src="../static/images\beer.png.png" alt="">
        <img class="pilsner-i" src="../static/images\pilsner-i.png" alt="">
    </div>
    <div class="bock-container">
        <img class="bock" src="../static/images\beer.png.png" alt="">
        <img class="bock-i" src="../static/images\bock-i.png" alt="">
    </div>
    <div class="marzen-container">
        <img class="marzen" src="../static/images\beer.png.png" alt="">
        <img class="marzen-i" src="../static/images\marzen-i.png" alt="">
    </div>
    <div class="schwarzbier-container">
        <img class="schwarzbier" src="../static/images\beer.png.png" alt="">
        <img class="schwarzbier-i" src="../static/images\schwarzbier-i.png" alt="">
    </div>
    <div class="helles-container">
        <img class="helles" src="../static/images\beer.png.png" alt="">
        <img class="helles-i" src="../static/images\helles.png" alt="">
    </div>
</section>
</html>